@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;  
  overflow-x: hidden;
}
.container {
  position: relative;
}
.slide {
  display: flex;  
  height: 100vh;  
  width: 100%;
  transition: 1s cubic-bezier(0.6, 0.33, 0.45, 0.94);
}
.img {
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.left {
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 1111;
  filter: invert(1);
  cursor: pointer;
}
.right {
  position: absolute;
  top: 40%;
  right: 10px;
  z-index: 1111;
  filter: invert(1);
  cursor: pointer;
}
.content{
    max-width: 700px;    
    width: 100%;
    padding: 10px 100px 10px 10px;
    margin: 0 100px 0 0;
}
.content h1{
    color: transparent;
    text-transform: uppercase;    
    font-size: clamp(4rem,7vw,8rem);
    font-weight: bold;
    -webkit-text-stroke: 2px #fff;
}
.content h2{
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
}
.content p{
    margin-top: 10px;
    font-size: 1.1rem;
    color: rgba(255,255,255,.6);
}

/* Dots */

.dots{
    position: absolute;
    display: flex;
    bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    z-index: 11111;
}
.dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0 ;    
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.6);
    border: 1px solid #fff;
}